/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import './less/variables.less';
@import '~bootstrap/less/mixins/buttons.less';

@btn-secondary-text: #1984a0;
@btn-secondary-bg: #e8f5f9;
@btn-secondary-bg-lighter: #f3f8fa;
@btn-secondary-bg-darker: #def1f7;

@btn-default-text: @btn-secondary-text;
@btn-default-bg: #fff;
@btn-default-border: #79cade;

body {
  background-color: @brand-gray-lightest;
}

.btn {
  text-transform: uppercase;
  &:active {
    box-shadow: none;
  }
}

.btn-default {
  .button-variant(@btn-default-text, @btn-default-bg, @btn-default-border);
  &:hover {
    background: @btn-default-bg;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-color: @btn-default-bg;
    &:hover,
    &:focus,
    &.focus {
      background-color: @btn-default-bg;
    }
  }
}

.btn-secondary {
  &,
  &:active,
  &:hover,
  &:focus {
    color: @btn-secondary-text;
  }
  background-color: @btn-secondary-bg;
  &:hover {
    background-color: @btn-secondary-bg-lighter;
  }
  &:active,
  &:focus {
    box-shadow: none;
    outline: none;
    background-color: @btn-secondary-bg-darker;
  }
}

.btn-group > .btn-secondary {
  margin-left: 1px;
}
.btn-group > .btn-default + .btn-secondary {
  margin-left: 0;
}
